<!DOCTYPE html>
<html>
  <head>
    <title>Ga4Faker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    
    <%= link_to "Example URL", "/?env=integration&runs[]=pageviews:1&runs[]=tabs:2&runs[]=accordions:3", class: "nav-link" %>
    <%= yield %>

    <script src="govuk.js"></script>
    <script>
      window.GOVUKFrontend.initAll()
    </script>
  </body>
</html>
